<div class="container">
  <%= react_component("Notice", { message: notice }) %>

  <h1 class="title">Diaries</h1>

  <%= react_component("Hello", { name: "Hello from react-rails." }) %>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @diaries.each do |diary| %>
        <tr>
          <td><%= diary.title %></td>
          <td><%= diary.body %></td>
          <td><%= link_to 'Show', diary, class: 'button is-info' %></td>
          <td><%= link_to 'Edit', edit_diary_path(diary), class: 'button is-link' %></td>
          <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Diary', new_diary_path, class: 'button is-primary' %>
</div>
