<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="columns">
    <div class="column">
      <label class="label">Title:</label>
    </div>
    <div class="column">
      <%= @diary.title %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <label class="label">Body:</label>
    </div>
    <div class="column">
      <%= @diary.body %>
    </div>
  </div>

  <%= link_to 'Edit', edit_diary_path(@diary), class: 'button is-info' %>
  <%= link_to 'Back', diaries_path, class: 'button is-link' %>
</div>
